body {
  background-repeat: no-repeat;
  object-fit: cover;
}
nav {
  background-color: rgb(235, 206, 47);
}
nav img {
  width: 60px;
  position: relative;
  margin-top: 10px;
}
nav p {
  margin-left: 50%;
  align-content: center;
  position: relative;
  color: red;

  /* position: absolute; */
  /* top: 50%; */
  -ms-transform: translateY(-150%);
  transform: translateY(-100%);
}
img {
  width: 50px;
  cursor: pointer;
}
#resultFood {
  position: relative;
  margin: -15% 2% 2% 30%;
}
#FoodForm {
  margin-top: 50px;
  background-color: rgb(235, 206, 47);
  width: 20%;
  border: 1px solid;
  margin-left: 20px;
  border-radius: 50px;
}
#FoodForm input {
  margin-bottom: 24px;
  display: block;
  text-align: center;
  margin-left: 90px;
  height: 30px;
  width: 180px;
}
#FoodForm label:first-child {
  margin-top: 20px;
  text-align: center;
  color: red;
  font-size: 30px;
}
#FoodForm label {
  margin-bottom: 24px;
  display: block;
  text-align: center;
   margin-top: 20px;
  text-align: center;
  color: red;
  font-size: 30px;
}
button {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 120px;
  width: 130px;
  color: white;
  background-color: red;
}
#selectFood {
  margin-left: 140px;
}
#resultFood {
  background-image: url(https://westeurope1-mediap.svc.ms/transform/thumbnail?provider=spo&inputFormat=jpg&cs=fFNQTw&docid=https%3A%2F%2Falqudscollege-my.sharepoint.com%3A443%2F_api%2Fv2.0%2Fdrives%2Fb!4kW0Mz1ymE6DvXc0RHm89r7i7SSJUsJOkA-56aojf1AKR62oXKimQaAG9ivOPT6d%2Fitems%2F01W4C7VWHHWDPBEPU55JE3BBNQYH6MEZZT%3Fversion%3DPublished&access_token=eyJ0eXAiOiJKV1QiLCJhbGciOiJub25lIn0.eyJhdWQiOiIwMDAwMDAwMy0wMDAwLTBmZjEtY2UwMC0wMDAwMDAwMDAwMDAvYWxxdWRzY29sbGVnZS1teS5zaGFyZXBvaW50LmNvbUBhMTYyYzUzMi03YTBjLTQ2NDUtOTZmZC0yMGQwMTljZjRlNWEiLCJpc3MiOiIwMDAwMDAwMy0wMDAwLTBmZjEtY2UwMC0wMDAwMDAwMDAwMDAiLCJuYmYiOiIxNjIyNTI3MjAwIiwiZXhwIjoiMTYyMjU0ODgwMCIsImVuZHBvaW50dXJsIjoiQi9xc0M5cVUzVjZORCtLVm4zdTFETkhwbXo0ZFQrakI4cVl0eDJjUE1mWT0iLCJlbmRwb2ludHVybExlbmd0aCI6IjEyMyIsImlzbG9vcGJhY2siOiJUcnVlIiwidmVyIjoiaGFzaGVkcHJvb2Z0b2tlbiIsInNpdGVpZCI6Ik16TmlORFExWlRJdE56SXpaQzAwWlRrNExUZ3pZbVF0Tnpjek5EUTBOemxpWTJZMiIsIm5hbWVpZCI6IjAjLmZ8bWVtYmVyc2hpcHx1cm4lM2FzcG8lM2Fhbm9uIzRmYmMwYTk3Yjg0MDc5NGM2NDY5MjNmYThhN2ViODVmY2I0MmRjMTljZWYzOTRhYmUwNmFjYzAwZGRiZDY3ZDYiLCJuaWkiOiJtaWNyb3NvZnQuc2hhcmVwb2ludCIsImlzdXNlciI6InRydWUiLCJjYWNoZWtleSI6IjBoLmZ8bWVtYmVyc2hpcHx1cm4lM2FzcG8lM2Fhbm9uIzRmYmMwYTk3Yjg0MDc5NGM2NDY5MjNmYThhN2ViODVmY2I0MmRjMTljZWYzOTRhYmUwNmFjYzAwZGRiZDY3ZDYiLCJzaGFyaW5naWQiOiJYdFhoSUtLNmNFZXJMZGZEMkFtcGtRIiwidHQiOiIwIiwidXNlUGVyc2lzdGVudENvb2tpZSI6IjIifQ.bFVwdFpKd2tvV284TFdxOVFweWhmTFp4ZVloblZ3SUcwRGZ5QlFXMmNiaz0&encodeFailures=1&width=1848&height=844&srcWidth=&srcHeight=);
}
#resultFood table {
  background-color: rgb(235, 206, 47);
  margin-left: 500px;
  width: 350px;
}
#resultFood table thead {
  border: 1px solid;
}
#resultFood table thead tr td {
  padding: 20px;
  border: 1px solid;
}
#resultFood table tbody tr td {
  padding: 20px;
  border: 1px solid;
}
#resultFood table img {
  width: 90px;
  height: 90px;
}
#resultFood table p {
  align-items: center;
}
